#about {
  background: url('../../images/girlincar.jpg') center center no-repeat;
  background-size: cover;
  .about-text {
    background: rgba(0, 0, 0, .8);
    color: white;
    padding: 1.875rem; //30px / 16
  }
}
