$cover-bg-color: #222;
$cover-img: '../../../images/nightlife.jpg';

#cover {
    background: $cover-bg-color url($cover-img) center center no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    @include dark-overlay;

    @include media-breakpoint-up(sm) { 
        height: 100%;
     }

    #cover-caption {
        width: 100%;
        z-index: 1;
        form {
                display: flex;
                justify-content: center;
        }
        a {
            color: white;
            border: 1px solid white;
            margin-bottom: 10px;
        }
    }
}

#cover:after {
    background:rgba(0, 0, 0, 0.3);
}